p Hi #{employerName},
p You have received a new application for the position of #{jobTitle}.
p Applicant: #{applicantName} (#{applicantEmail})
p Please find their CV attached to this email.
p Best regards,
p The UK Visa Sponsorship Team