extends base

block content
  main.main
    .login-form.login-form--forgot
      h2.heading-secondary.ma-bt-lg Reset your password
      form.form.form--reset-password
        .form__group.ma-bt-md
          label.form__label(for='password') New Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='password-confirm') Confirm Password
          input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--standard(type='submit') Reset Password
