.error {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80rem;
  text-align: center;
  width: 100%;
  padding: 0 2rem;
}

.error__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.error__msg {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 60rem;
  margin: 0 auto 3rem auto;
}

.form--resend-verification {
  max-width: 40rem;
  margin: 0 auto;
}

.form--resend-verification .btn {
  width: 100%;
}
