/* User View */
.user-view {
  background-color: transparent;
  max-width: 90rem;
  margin: 0 auto 6rem auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.user-view__tabs {
  display: flex;
  padding: 0 4rem;
  margin-top: 4rem;
  margin-bottom: -1px;
  z-index: 10;
}

.tab-btn {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: rgba(69, 156, 238, 0.5);
  color: #fff;
  margin-right: 0.5rem;
  border-radius: 5px 5px 0 0;
  transition: all 0.3s;
}

.tab-btn:hover {
  background-color: rgba(69, 156, 238, 0.8);
}

.tab-btn--active {
  background-color: #fff;
  color: var(--text-main);
  border: 1px solid #e0e0e0;
  border-bottom: 1px solid #fff;
  position: relative;
}

.tab-btn--active:hover {
  background-color: #fff;
}

.user-view__content {
  background-color: #fff;
  padding: 7rem 0;
  border-radius: 3px;
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  border: 1px solid #e0e0e0;
  position: relative;
  z-index: 5;
}

.user-view__form-container {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 4rem;
}

.tab-content {
  display: none;
}

.tab-content--active {
  display: block;
}

.form-user-data,
.form-user-password {
  margin-bottom: 4rem;
}

.line {
  margin: 6rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.cv-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.cv-display p {
  font-size: 1.6rem;
  margin: 0;
}

.cv-display a {
  color: var(--brand-primary);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 0;
  display: inline-block;
}

.form__photo-upload {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload + label {
  color: var(--brand-primary);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--brand-primary);
  padding: 3px;
  cursor: pointer;
  transition: all 0.2s;
}

.form__upload + label:hover {
  background-color: var(--brand-primary);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
