/* 1. Global Heading Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  color: var(--text-main);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: clamp(3.2rem, 5vw, 4.8rem);
}

h2 {
  font-size: clamp(2.8rem, 4vw, 3.6rem);
}

h3 {
  font-size: clamp(2.4rem, 3vw, 3rem);
}

h4 {
  font-size: 2.4rem;
}

/* 2. Body Text */
p {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
  color: var(--text-body);
  max-width: 75ch;
}

/* 3. Helpers */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.margin-top {
  margin-top: 3rem;
}

.text-gradient {
  background: linear-gradient(to right, var(--brand-primary), #1767ad);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.sub-heading__search {
  color: var(--brand-primary-hover);
}

.job-card__title {
  font-size: 2rem;
  color: var(--text-main);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.job-card__company {
  font-size: 1.6rem;
  color: var(--brand-primary);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.job-card__location {
  font-size: 1.4rem;
  color: var(--text-muted);
  margin-bottom: 1rem;

  display: flex;
  align-items: left;
  gap: 0.5rem;
  flex-direction: column;

  p {
    margin: -0.5rem;
    margin-left: 0.1rem;
  }
}

.job-card__description {
  font-size: 1.5rem;
  color: var(--text-body);
  line-height: 1.5;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.featured__label {
  color: var(--brand-primary);
  position: absolute;
  left: 80%;
}

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--brand-primary);
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.ma-bt-md {
  margin-bottom: 2.5rem !important;
}

.ma-top-md {
  margin-top: 2.5rem !important;
}

.ma-top-lg {
  margin-top: 3.5rem !important;
}

.ma-left-sm {
  margin-left: 1rem !important;
}
