extends base

block content
  main.main
    .about-container
      .about__content
        .about__text
          p
            | I'm Oliver, an artist with Australian, Maltese, and British roots. <br> I guess you could say my background is a bit of a mix, kind of like my palettes.
          p
            | I've always been fascinated by how certain colours can just... make you feel things. You know? <br> Like how a specific shade of blue can feel lonely, or a warm orange can feel like a hug. <br> I try to capture those quiet, unspoken emotions in my work.
          p
            | It's not about being fancy or complicated. <br> It's just me, trying to make sense of the world through colour and texture. <br> I hope my art speaks to you in some small way.