doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      // Google tag (gtag.js)
      script(async src='https://www.googletagmanager.com/gtag/js?id=G-9CDKTPDR2J')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-9CDKTPDR2J');
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/rcfav.svg')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title Ruggier Chromatico | #{title}
      script(src='https://js.stripe.com/v3/')

  body(data-stripe-key=stripePublicKey)
    // HEADER
    include _header

    // CONTENT
    block content
      h1 This is a placeholder heading

    // FOOTER
    include _footer

    script(src='/js/bundle.js')
